* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #fdfdfd;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */
.logo {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo strong {
  font-size: 1.2rem;
  color: #B87AF1;
}

/* Login Box */
  .login-box {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 350px;
  }

.login-box h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: left;
}

.login-box p {
  font-size: 0.95rem;
  color: #666;
  text-align: left;
  margin-bottom: 20px;
}

.login-box label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #222;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #666;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.login-box input:focus {
  outline-color: #3178fbb6;
}

.login-box button {
  width: 35%;
  background: linear-gradient(90deg, #a259ff, #6bbcff);
  color: white;
  padding:20px 0 20px 0px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 230px;
  box-shadow: 2px 4px 10px rgba(162, 89, 255, 0.3);
  transition: 0.3s ease;
}

.login-box button:hover {
  opacity: 0.9;
}

.login-box small a {
  font-size: 0.8rem;
  color: #3c7b57;
  text-decoration: none;
}

.login-box small a:hover {
  text-decoration: underline;
}

#result {
  font-size: 14px;
  color: rgb(169, 16, 16);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Background Shape */
.bg-shape {
  position: absolute;
  bottom: 0px;
  right: -10px;
  width: 60%;
  height: 85%;  
  z-index: -2;
}

/* Astronaut */
.astronaut {
  position: absolute;
  bottom: 0.5em;
  right: 8em;
  width: 30%;
  z-index: -1;
  height: 80%;
  width: 25%;
}

/* Animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s ease forwards;
}

/* Responsive */
@media (max-width: 768px) {
  .login-box {
    width: 90%;
  }

  .astronaut {
    width: 180px;
    right: 30px;
    bottom: 30px;
  }

  .bg-shape {
    width: 400px;
    bottom: -80px;
    right: -80px;
    height: 80%;
  }

  .logo {
    left: 20px;
    top: 15px;
  }
}
